.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
AndroidAsync/build
AndroidAsync/AndroidAsync.iml
app/app.iml
touchlibiary/touchlibiary.iml
server
task
tools
touch
controller
tasks
